html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}

/* 작업 */
.global-width {
	max-width: 620px;
	margin: 0 auto;
	padding: 0 1rem;
}
.scroll-graphic {
	position: sticky;
	top: 0;
	height: 100vh;
}
.graphic-item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.scene-img { 
	max-height: 100vh;
}
.scroll-text {
	position: relative;
	padding-bottom: 1px;
}
.step {
	margin-bottom: 60vh;
	padding: .5rem 1rem;
	border-radius: 10px;
	background: rgba(255,255,255,.8);
	box-shadow: rgba(0,0,0,.3) 0 0 3px;
}